{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <h1>Search</h1>

    <form action="{{ url_for('search') }}">

        <div class="form-group">
            <input class="form-control" name="search" value="{{ search }}" type="text" placeholder="search keyword">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Search</button>
        </div>

    </form>

    {% if books and books.count() %}
    <h4>Amount of found books: {{ books.count() }}</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ISBN</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Year</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
        <tr>
            <td><a href="{{ url_for('book', isbn=book.isbn) }}">{{ book.isbn }}</a></td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.year }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
